{% extends 'nav.html' %}
{% load static %}
{% block content %}

<div class='main-margins'>
    <form method="post" action="/submitfood/">
        {% csrf_token %}
        
        Food Name: <input type="text" name="name"/><br/>
        <h4>Enter nutriets per serving size</h4>
        Sodium (mg): <input type="text" name="sodium"/><br/>
        Potassium (mg): <input type="text" name="potassium"/><br/>
        Phosphorus (mg): <input type="text" name="phosphorus"/><br/>
        Protein (g): <input type="text" name="protein"/><br/>
        <input type="submit"/>
    </form>
</div>
{% endblock %}