{% extends 'nav.html' %}
{% load static %}
{% block content %}

<div class= 'main-margins'>
    <form method="post" action="/submitwaterchanges/{{ entry.id }}/">
        {% csrf_token %}
        <input type="hidden" name="waterID" value="{{ entry.id }}"/>
        Date: <input type="date" name="EntryDate" value="{{entry.DateTime}}"/><br/>
        Amount (L): <input type="number" name="amount" value="{{ entry.Amount }}" step=".1" min="0" max="10"/><br/>
        <input type="submit"/>
    </form>
</div>

{% endblock %}