{% load static %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    
    <title>KidneyHealth</title>

    <meta name="description" content="KidneyHealth - tracking nutrients">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">

    <link rel="stylesheet" href="{% static 'css/normalize-and-boilerplate.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <link href='http://fonts.googleapis.com/css?family=Bree+Serif|Pacifico' rel='stylesheet' type='text/css' />

    <link rel="icon" type="image/x-icon" href="{% static 'img/apple-touch-icon-precomposed.png' %}">

    <script>
      function setID(i){
        sessionStorage.setItem('userid',i);
        console.log(sessionStorage.getItem('userid'));
      }
    </script>
    

  </head>
  <body onLoad="setID({{id}})">
    
    <!-- start: off canvas area -->
    <aside class="off-canvas">
      <div class="row">
        <div class="columns col-17">
          <nav class="main-nav">
            <ul>
              <!-- need to reroute each of these -->
              <li><a class="current" href="{% url 'login' %}">Login</a></li>
            </ul>
          </nav>
        </div>      
      </div>
    </aside>
    <!-- end: off canvas area -->

    <!-- start: ON canvas area -->
    <div class="on-canvas">
      <div class="canvas-overlay"></div>

      <header class="header">
        <div class="row max-inner">
          <div class="columns col-3">
                <a href="#" class="toggle-off-canvas"><i class="fa fa-bars"></i></a>
                <a href="" class="logo">
              <span class="highlight-color">Kidney</span>health
            </a>
          </div>
          <div class="columns col-7">
            <nav class="main-nav">
              <ul>
                <!-- need to reroute each of these -->
                <li><a class="current" href="{% url 'login' %}">Login</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>

        <div class="main">
        <section class="features-listing">  

        <div class="row feature">
        <div class="max-inner">

            <div class="flexslider">
            <ul class="slides">
                <!-- start: slide -->
                <li>
                <div class="columns col-7 feature-image">
                    <img src="{% static 'img/charts.png' %}" alt="chart" />
                </div>
                <div class="columns col-5 feature-desc">
                    <h2>Visualize Your Health</h2>
                    <p>Our aim is to help you understand your nutrition goals and to help you clearly see your progress</p>
                    </div>
                </li>
            </ul>
            </div>


        </div>
        </div>


        <div class="row feature">
        <div class="max-inner">
            <div class="columns col-7 feature-image">
            <img src="{% static 'img/healthyfood.jpg' %}" alt="A lot of options" />
            </div>
            <div class="columns col-5 feature-desc">
            <h2>Understand Your Food</h2>
            <p>
              Kidneyhealth will help you break down your food to the micronutrients that are essential to track when caring for your kidneys. As you log the food you take, you may find simple adjustments to your diet that will make major differences in your health.
            </p>
            
            <p><a href="#" title="Learn more" class="btn">Learn more</a></p>
            </div>
        </div>
        </div>

    <footer class="footer">
        <div class="row">
            <div class="max-inner footer-content">
            <div class="columns col-3">
                <h3>Contact</h3>
                <p>
                123 Address Drive<br />
                Provo<br />
                Utah
                <br /><br />
                801 555 1245<br />
                <a href="#">office@email.com</a>
                </p>
            </div>
            <div class="columns col-3">
                <h3>Support</h3>
                <p>
                801 555 1234<br />
                <a href="#">support@email.com</a>
                </p>
            </div>
            
            </div>
        </div>
        <div class="row copyright">
            <div class="max-inner">
            <div class="row">
                <div class="columns col-12">
                <p>Copyright</p>
                </div>
            </div>
            </div>
        </div>
        </footer>
    </div>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.js"><\/script>')</script>

    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

    <script>
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src='//www.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    </body>
</html>


